services:
  gateway:
    build:
      context: ./services/gateway
      dockerfile: Dockerfile.dev
    environment:
      - ENABLE_OTEL=true
    volumes:
      - ./services/gateway/app:/app/app

  surf-data-service:
    build:
      context: ./services/surf-data-service
      dockerfile: Dockerfile.dev
    ports:
      - "5001:5001"
    volumes:
      - ./services/surf-data-service/app:/app/app

  notification-service:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile.dev
    ports:
      - "5002:5002"
    volumes:
      - ./services/notification-service/app:/app/app

  scheduler-service:
    build:
      context: ./services/scheduler-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/scheduler-service/app:/app/app

  jaeger:
    ports:
      - "16686:16686"  # UI Jaeger
      - "4318:4318"    # OTLP traces (HTTP)
