services:
  gateway:
    environment:
      - ENABLE_OTEL=true
    volumes:
      - ./services/gateway/requirements-dev.txt:/app/requirements-dev.txt
    command: >
      sh -c "pip install -r requirements-dev.txt &&
             gunicorn -w 2 -b 0.0.0.0:5000 app.main:app"

  surf-data-service:
    ports:
      - "5001:5001"

  notification-service:
    ports:
      - "5002:5002"

  jaeger:
    ports:
      - "16686:16686"  # UI Jaeger
      - "4318:4318"    # OTLP traces

