services:
  data-service:
    build: ./services/data-service
    ports:
      - "5001:5001"

  gateway:
    build: ./services/gateway
    ports:
      - "5000:5000"
    depends_on:
      - data-service
    
  jaeger:
    image: jaegertracing/all-in-one:1.57
    ports:
        #UI do Jaeger
      - "16686:16686"
      #OTLP HTTP (recebe traces)
      - "4318:4318"
