name: Pipeline com DEV STG PRD + testes

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test:
    name: Build + Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Build dos containers
        run: docker compose build

      - name: Rodar testes (unit)
        run: |
          docker compose run --rm data-service python -m pytest -q
          docker compose run --rm gateway python -m pytest -q

  deploy-dev:
    name: Deploy DEV
    runs-on: ubuntu-latest
    needs: build-test
    environment: DEV

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Subir stack (DEV)
        run: docker compose up -d --build

      - name: Smoke test DEV
        run: |
          sleep 25
          curl -sSf http://localhost:5001/data
          curl -sSf http://localhost:5000/api

      - name: Logs (se falhar)
        if: failure()
        run: docker compose logs --no-color

      - name: Limpeza DEV
        if: always()
        run: docker compose down -v

  deploy-stg:
    name: Deploy STG
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: STG

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Subir stack (STG)
        run: docker compose up -d --build

      - name: S

