name: Pipeline com DEV STG PRD + testes

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Build dos containers
        run: docker compose build

      - name: Rodar testes (unit)
        run: |
          docker compose run --rm data-service python -m pytest -q
          docker compose run --rm gateway python -m pytest -q

  deploy-dev:
    runs-on: ubuntu-latest
    needs: build-test
    environment: DEV
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Subir stack (DEV)
        run: docker compose up -d --build

      - name: Smoke test DEV
        run: |
          sleep 25
          curl -sSf http://localhost:5001/data
          curl -sSf http://localhost:5000/api

      - name: Limpeza DEV
        if: always()
        run: docker compose down -v

  deploy-stg:
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: STG
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Subir stack (STG)
        run: docker compose up -d --build

      - name: Smoke test STG
        run: |
          sleep 25
          curl -sSf http://localhost:5001/data
          curl -sSf http://localhost:5000/api

      - name: Limpeza STG
        if: always()
        run: docker compose down -v

  deploy-prd:
    runs-on: ubuntu-latest
    needs: deploy-stg
    environment: PRD
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Subir stack (PRD)
        run: docker compose up -d --build

      - name: Smoke test PRD
        run: |
          echo "Aguardando gateway (porta 5000)..."
          for i in {1..30}; do
            if curl -sSf http://localhost:5000/health > /dev/null; then
              echo "Gateway OK!"
              break
            fi
            echo "Ainda nao... ($i/30)"
            sleep 2
          done

          echo "Testando data-service..."
          curl -sSf http://localhost:5001/data

          echo "Testando gateway..."
          curl -sSf http://localhost:5000/api

      - name: Logs (se falhar)
        if: failure()
        run: docker compose logs --no-color
