name: SurfPulse CI/CD (DEV -> STG -> PRD)

on:
  workflow_dispatch:
  pull_request:
    branches: ["main","principal"]
  push:
    branches: ["main","principal"]

jobs:
  quality-gate:
    name: Quality Gate (Tests + Security)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          set -e
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - run: |
          set -e
          if [ -d services ]; then pytest -q; else echo "No tests"; fi

      - run: |
          pip install pip-audit
          pip-audit -r requirements.txt --ignore-vuln GHSA-7gcm-g887-7qv7 -f json -o pip-audit-report.json --progress-spinner off

      - uses: actions/upload-artifact@v4
        with:
          name: pip-audit-report
          path: pip-audit-report.json


  build-and-scan-images:
    name: Build Images + Trivy
    runs-on: ubuntu-latest
    needs: quality-gate
    env:
      COMPOSE_PROJECT_NAME: surfpulse

    steps:
      - uses: actions/checkout@v4

      - run: |
          set -e
          docker compose -f docker-compose.yml -f docker-compose.dev.yml build

      - run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" \
          --password-stdin

      - run: |
          docker tag surfpulse-gateway:latest ${{ secrets.DOCKER_USERNAME }}/surfpulse-gateway:${{ github.sha }}
          docker tag surfpulse-notification-service:latest ${{ secrets.DOCKER_USERNAME }}/surfpulse-notification-service:${{ github.sha }}
          docker tag surfpulse-surf-data-service:latest ${{ secrets.DOCKER_USERNAME }}/surfpulse-surf-data-service:${{ github.sha }}
          docker tag surfpulse-scheduler-service:latest ${{ secrets.DOCKER_USERNAME }}/surfpulse-scheduler-service:${{ github.sha }}

      - run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/surfpulse-gateway:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/surfpulse-notification-service:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/surfpulse-surf-data-service:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/surfpulse-scheduler-service:${{ github.sha }}

      - uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/surfpulse-gateway:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: "1"

      - uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/surfpulse-surf-data-service:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: "1"

      - uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/surfpulse-notification-service:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: "1"

      - uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/surfpulse-scheduler-service:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: "1"


  deploy-dev:
    name: Deploy DEV (auto)
    runs-on: ubuntu-latest
    needs: build-and-scan-images
    if: github.event_name != 'pull_request'
    env:
      COMPOSE_PROJECT_NAME: surfpulse

    steps:
      - uses: actions/checkout@v4

      - name: Deploy DEV
        run: |
          set -e
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" \
            --password-stdin

          echo "APP_TAG=${{ github.sha }}" > .env
          echo "REGISTRY=${{ secrets.DOCKER_USERNAME }}" >> .env
          echo "COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}" >> .env

          docker compose \
            -f docker-compose.yml \
            -f docker-compose.dev.yml \
            -f docker-compose.ci.yml \
            pull

          docker compose \
            -f docker-compose.yml \
            -f docker-compose.dev.yml \
            -f docker-compose.ci.yml \
            up -d --no-build


      - run: |
          set -e
          for i in {1..30}; do
            if curl -fsS http://localhost:5000/health > /dev/null; then exit 0; fi
            sleep 2
          done
          exit 1

      - if: always()
        run: docker compose -f docker-compose.yml -f docker-compose.dev.yml down -v


  deploy-stg:
    name: Deploy STG (auto)
    runs-on: ubuntu-latest
    needs: deploy-dev
    if: github.event_name != 'pull_request'
    env:
      COMPOSE_PROJECT_NAME: surfpulse

    steps:
      - uses: actions/checkout@v4

      - run: |
          set -e
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" \
          --password-stdin

          echo "APP_TAG=${GITHUB_SHA}" > .env
          echo "REGISTRY=${{ secrets.DOCKER_USERNAME }}" >> .env

          docker compose -f docker-compose.yml -f docker-compose.stg.yml up -d --no-build

      - if: always()
        run: docker compose -f docker-compose.yml -f docker-compose.stg.yml down -v


  deploy-prd:
    name: Deploy PRD (auto)
    runs-on: ubuntu-latest
    needs: deploy-stg
    if: github.event_name != 'pull_request'
    env:
      COMPOSE_PROJECT_NAME: surfpulse

    steps:
      - uses: actions/checkout@v4

      - run: |
          set -e
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" \
          --password-stdin

          echo "APP_TAG=${GITHUB_SHA}" > .env
          echo "REGISTRY=${{ secrets.DOCKER_USERNAME }}" >> .env

          docker compose -f docker-compose.yml -f docker-compose.prd.yml up -d --no-build

      - if: always()
        run: docker compose -f docker-compose.yml -f docker-compose.prd.yml down -v
